.uv-mdc-userSelect {
    min-height: 100px;
    width: 100%;
}

.uv-mdc-userSelect--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--mdc-theme-background);

    transition: opacity 0.2s ease;
    opacity: 1;
}

.uv-mdc-userSelect.uv-mdc-userSelect--active .uv-mdc-userSelect--overlay {
    pointer-events: none;
    opacity: 0;
}

.uv-mdc-userSelect--overlay > div {
    width: 100%;
    height: 100%;
}

.uv-mdc-userSelect--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.uv-mdc-userSelect--loading :first-child {
    font-size: xx-large;
}

@keyframes uv-mdc-colorPulsate {
    0% {
        color: gray;
    }
    50% {
        color: darkgray;
    }
    100% {
        color: gray;
    }
}

.uv-mdc-userSelect--loading :last-child {
    font-size: smaller;
    animation: uv-mdc-colorPulsate 1s linear infinite;
}

.uv-mdc-userSelect--input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uv-mdc-userSelect--input span[data-mdc-textinput] {
    min-width: 250px;
    width: 65%;
    margin-right: 8px;
}

.uv-mdc-userSelect table {
    border-collapse: collapse;
}

.uv-mdc-userSelect table > tr:first-child > td:first-child {
    border-right: 1px solid lightgray;
    width: 100%;
}

.uv-mdc-userSelect table > tr:first-child > td:last-child,
.uv-mdc-userSelect table > tr:last-child > td {
    width: 20%;
}

.uv-mdc-userSelect table > tr:first-child > td:last-child {
    border-bottom: 1px solid lightgray;
}

.uv-mdc-userSelect--main {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}

.uv-mdc-userSelect--main table {
    display: block;
}

.uv-mdc-userSelect--main table,
.uv-mdc-userSelect--main tr,
.uv-mdc-userSelect--main td {
    width: 100%;
}

.uv-mdc-userSelect--main table tr:first-child td:first-child {
    max-width: 0;
}

.uv-mdc-userSelect--username {
    font-size: xx-large;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    height: 1.2em;
}

.uv-mdc-userSelect--loading .uv-mdc-userSelect--username {
    text-align: center;
    box-sizing: border-box;
    padding: 0 16px;
}

.uv-mdc-userSelect--overview {
    font-size: smaller;
    text-transform: uppercase;
}

.uv-mdc-userSelect--overview .mdc-tooltip {
    font-size: initial;
    text-transform: initial;
}

.uv-mdc-userSelect--username a,
.uv-mdc-userSelect--overview a {
    color: inherit;
}

.uv-mdc-userSelect--overview a:hover {
    text-decoration: underline;
}

.uv-mdc-userSelect--groups {
    padding: 0 16px;
    font-size: small;
}

.uv-mdc-userSelect--groups a {
    color: gray;
}
